<h1>¿Qué categorías de palabras <br /> deseas jugar?</h1>
<div class="categories-container">
    <ul class="categories">
        <li class="category">
            <img src="assets/travel.jpeg" class="category-pic" alt="Viajes" />
            <span class="category-label green">Viajes</span>
        </li>
        <li class="category">
            <img src="assets/food.jpeg" class="category-pic" alt="Viajes" />
            <span class="category-label red">Comida</span>
        </li>
        <li class="category">
            <img src="assets/places.jpeg" class="category-pic" alt="Viajes" />
            <span class="category-label purple">Lugares</span>
        </li>
        <li class="category">
            <img src="assets/parties.jpg" class="category-pic" alt="Viajes" />
            <span class="category-label  yellow">Fiestas</span>
        </li>
    </ul>
    <button class="continue">
        Continuar
    </button>
</div>
