<h1>¿Qué categorías de palabras <br /> deseas jugar?</h1>
<div class="categories-container">
    <ul class="categories">
        <li class="category">
            <img src="http://lorempixel.com/150/150/transport/1/" class="category-pic" alt="Viajes" />
            <span class="category-label green">Viajes</span>
        </li>
        <li class="category">
            <img src="http://lorempixel.com/150/150/food/1/" class="category-pic" alt="Viajes" />
            <span class="category-label red">Comida</span>
        </li>
        <li class="category">
            <img src="http://lorempixel.com/150/150/nature/1/" class="category-pic" alt="Viajes" />
            <span class="category-label purple">Lugares</span>
        </li>
        <li class="category">
            <img src="http://lorempixel.com/150/150/people/1/" class="category-pic" alt="Viajes" />
            <span class="category-label  yellow">Fiestas</span>
        </li>
    </ul>
    <button class="continue">
        Continuar
    </button>
</div>
