start
    width 100%
    height 100%
    display flex
    justify-content center
    align-items center
    flex-direction column
    font-family roboto-condensed
    background-color color-blue-light
    color white

    h1
        flex-shrink 0
        margin-bottom size-m
        font-size size-xxxl

    button.new-game
        background transparent
        border none
        font-weight lighter
        font-size size-l
        color inherit
