global-reset()

size-s              = 8px
size-m              = 16px
size-l              = 24px
size-xl             = 32px
size-xxl            = 40px
size-xxxl           = 48px

font-size-s         = 8px
font-size-m         = 16px
font-size-l         = 20px
font-size-xl        = 24px
font-size-xxl       = 32px
font-size-xxxl      = 40px

roboto              = 'Roboto' sans-serif
roboto-condensed    = 'Roboto Condensed' sans-serif

color-blue          = #0099CC
color-blue-light    = #33B5E5
color-purple-light  = #AA66CC
color-purple        = #9933CC
color-green-light   = #99CC00
color-green         = #669900
color-yellow-light  = #FFBB33
color-yellow        = #FF8800
color-red-light     = #FF4444
color-red           = #CC0000

html
    font-family 'Roboto' sans-serif
    font-size font-size-m
    box-sizing border-box

    *
        font-family inherit
        font-size inherit
        color #555
        box-sizing inherit
