<div class="scores">
    <span class="score">
        <span class="team-name">Team 1</span>
        <span class="points"> |||| </span>
    </span>
    <span class="score">
        <span class="team-name">Team 2</span>
        <span class="points"> |||| </span>
    </span>
</div>
<div class="main">
    <div class="info">
        <div class="turn">Turno 1</div>
        <div class="current-team">Equipo 1</div>
        <div class="word-and-ball">
            <div class="word">Menea tu chapa</div>
            <div class="ball">
                Empezar
            </div>
        </div>
    </div>
    <button class="continue">
        Próximo Turno
    </button>
</div>
