pick-categories
    display flex
    flex-direction column
    justify-content space-between
    width 100%
    height 100%

    h1
        flex-shrink 0
        font-size font-size-xl
        text-align center
        margin size-m 0
        line-height 1.5
